body {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin:5px;
    border:10px;
    display:block;
    line-height: 1.5;

}

img {
    height :auto;
    width:900px;
    align-items:center ;
}
